.side_bar
  .header
    %h3.header__user
      masa
    %ul.header__lists
      %li.list
        = link_to '#' do
          = icon('fa','edit',class: 'icon') 
      %li.list
        = link_to '#' do
          = icon('fa','cog',class: 'icon')

  .groups