* {
  box-sizing: border-box;
}

.side_bar {
  width: 300px;
  float: left;
  color: white;

  .header {
   background-color: #253141;
   height: 100px;
   align-items: center;
   display: flex;
   justify-content: space-between;
   list-style: none;
   padding: 0 20px;

  &__user {
   display: inline-block;
   font-size: 16px;
   font-weight: bold;
  }
  &__lists {
    display: inline-block;
    float: right;
    .list {
      display: inline-flex
    }
    .icon {
      color: white;
    }
   }
  }
  .groups {
   background-color: #2f3e51;
   height: calc(100vh - 100px);
   padding: 0 20px;
   .group {
     overflow: scroll;
     padding: 20px 0 40px;
     &__name {
       font-size: 15px;
       color: white;
   }
     &__message {
       font-size: 11px;
       color: white;

   }
  }
 }
}

.chat {
  width: calc(100% - 300px);
  float: right;

  .header {
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
  .left-header {
    float: left;
    display: inline-block;
    &__title {
      color: #333333;
      font-size: 20px;
      margin-top: 35px;
    }
    &__members {
      color: #999999;
      font-size: 12px;
      margin-top: 15px;
      .member {
        display: inline-block;
      }
    }
   }
   .right-header {
     float: right;
     margin-top: 28px;
     padding: 0 20px;
     height: 40px;
     line-height: 40px;
     font-size: 16px;
     color: #38aef0;
     border: 1px solid 
   }
  }

  .messages {
    background-color: #FAFAFA;
    height: calc( 100vh - 100px - 90px);
    padding: 46px 40px 0 ;
    overflow: scroll;
    
      
      .upper-message {
       display: flex;
       &__name {
       color: #333333;
       font-size: 16px;
     }
       &__date {
       color: #999999;
       font-size: 12px;
       padding-left: 10px;
     }
    }
      .lower-message {
       margin-top: 10px;
       &__content {
       font-size: 14px;
       color: #434a54;
       margin-bottom: 40px;
     }
   }
  }
  .form {
    background-color: #DDDDDD;
    height: 90px;
    padding: 20px 50px 20px 40px;
    .input-box {
      display: flex;
      width: 950px;
      height: 50px;
      position: relative;

      &__text {
        height: 50px;
        width: 100%;
        color: #434a54;
        border-style: none;
        padding: 0 40px 10px;
      }
      &__image {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
      }
    }
    .submit-btn {
        width: 100px;
        height: 50px;
        font-size: 16px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    .hidden {
      display: none;
    }
    .new_message {
      display: flex;
    }

    }
}